.navbar {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #051937;
    border: none;
}

nav {
    display: flex;
    padding: 1.5rem;
}

.active{
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2.5rem;
    color: #fff;
}

li {
    cursor: pointer;
    font-size: 1.5em;

}

li:hover{
    text-decoration: underline;
}