.navbar {
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    justify-content: center;
    top: 0;
}

nav {
    display: flex;
    padding-top: 2.5em;
}

.active{
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2.5em;
}

li {
    cursor: pointer;
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;

}

li:hover{
    text-decoration: underline;
}