@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.App {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  background-image: linear-gradient(to bottom, #051937, #072c66, #223d97, #4a4cc8, #7b58f8);
  background-size: 100% auto;
  width:  100%;
}